#traffic-light {
    border: 1px solid black;
    background: black;
    display: inline-block;

}

.light {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 10px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.stand{
    height:300px;
    width: 30px;
    background: black;
    margin-top: -5px;
    margin-left: 47px;
}