body {
    position: relative;
}

#traffic-light {
    border: 1px solid black;
    background: black;
    display: inline-block;

}

.light {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 10px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.off{
    filter: brightness(0.5);
}

.on{
    filter: brightness(1);
}

.stand {
    height: 300px;
    width: 30px;
    background: black;
    margin-top: -5px;
    margin-left: 47px;
}

.black {
    background: black;
}

.line {
    height: 30px;
    width: 400px;
}

.zebra-border {
    background: black;
    height: 200px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 460px;
}

.car {
    position: absolute;
    bottom: 50px;
    right: 0px;
}


.car img {
    width: 200px;
}

